a:hover{
    border-bottom: 3.5px white solid;
    padding-bottom: 14px;
}

a{
    text-decoration: none;
    color: white;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #283655;
    height: 55px;
    font-size: 18px;
    box-shadow: 0px 2.5px rgba(0, 0, 0, 0.2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.AreaMenu{
    width: 80%;
    margin: 5px auto;
    color: white;

}

.AreaMenu .Left{
    float: left;
}

.AreaMenu .ImageLogo{
    height: 50px;
    position: relative;
    bottom: 3px;
}

.AreaMenu .Title{
    position: relative;
    bottom: 17px;
    font-size: 30px;
}

.AreaMenu .Right{
    float: right;
    position: relative;
    top: 11px;
}

.AreaMenu .MenuOptions{
    margin-right: 10px;
}

.MainArea{
    margin: 70px auto;
    width: 80%;
    border: 1px solid black;
    height:1000px;
    background-color: white;
}

.MainArea .Title1{
    margin: 20px;  
    font-size: 30px;
    padding: 5px;
    text-align: center;
    border: 1px red solid;
    border-radius: 10px;
    background-color: #4d648d;
    color: white;
}