a:hover{
    border-bottom: 3.5px white solid;
    padding-bottom: 14px;
}

a{
    text-decoration: none;
    color: white;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #283655;
    height: 55px;
    font-size: 18px;
    box-shadow: 0px 2.5px rgba(0, 0, 0, 0.2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

.AreaMenu{
    width: 80%;
    margin: 5px auto;
    color: white;

}

.AreaMenu .Left{
    float: left;
}

.AreaMenu .ImageLogo{
    height: 50px;
    position: relative;
    bottom: 3px;
}

.AreaMenu .Title{
    position: relative;
    bottom: 17px;
    font-size: 30px;
}

.AreaMenu .Right{
    float: right;
    position: relative;
    top: 11px;
}

.AreaMenu .MenuOptions{
    margin-right: 10px;
}

.MainArea{
    margin: 70px auto;
    width: 90%;
}

.MainArea .Title1{
    margin: 20px;  
    font-size: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    background-color: #435779;
    color: white;
    box-shadow: 2px 3.5px rgba(0, 0, 0, 0.2);
}

.Card{
    margin: 20px;
    background-color: #4d648d  ;
    min-height: 200px;
    min-width: 200px;
    color: white;
    border: 4px #4d648d solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2.5px rgba(0, 0, 0, 0.2);

}

.Card .Title{
    padding: 5px;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.Card .Content{
    background-color: white;
    padding: 20px;
    font-weight: 600;
    text-align: center;
    flex-grow: 1;
    border-radius: 4px;
    color: #435779;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.Card .ContentAbout{
    background-color: white;
    padding: 20px;
    font-weight: 600;
    flex-grow: 1;
    border-radius: 4px;
    color: #435779;
    display: flex;
    flex-wrap: wrap;

}

.Table{
    margin: 20px;
    background-color: #4d648d  ;
    min-height: 150px;
    color: white;
    border: 4px #4d648d solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2.5px rgba(0, 0, 0, 0.2);

}

td{
    text-align: center;
}


